body {
  font-family: 'Comfortaa', sans-serif;
  list-style: none;
  background-color: black;
  .ball {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid,;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000000000;
    }
    &::-webkit-scrollbar{
      background-color: gray;
    }
    &::-webkit-scrollbar-thumb{
      background: rgb(255, 166, 0);
    }

    .obj{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}
