.container {
  margin: 5px;
  padding: 0;
}

#barText {
  li {
    a {
      font-size: 1rem;
    }
    a:hover {
      color: orange;
    }
  }
}

#baricon {
  height: 100%;
  width: 200px;
  i {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
  }
  i:hover {
    text-shadow: 0 0 9px orange, 0 0 10px orange;
  }
}

.ofbox {
  margin: 1.5rem;
  li {
    line-height: 2;
  }
}

@include sm {
  .navbar {
    .container-fluid {
      justify-content: space-between;
    }
  }
}

.box {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
